h1{
    font-family: 'Courier New', Courier, monospace;
    color:#1b74e4;
}
.userbtn{
    background-color: aqua;
}
#searchbtn{
    background-color: black;
    color: white;
}
body>label{
    font-family: 'Courier New', Courier, monospace;
}

